# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# IDE settings
.vscode/
.claude/

# Data (Never upload heavy datasets to GitHub)
*.h5
*.pth
*.pt
*.npy
*.tar.gz
*.zip
data/
datasets/
dataset_download/
cifar10_download/
cifar10_dl/

# Ignore Outputs
output/