# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# IDE settings
.vscode/

# Data (Never upload heavy datasets to GitHub)
*.h5
*.pth
*.pt
*.npy
data/
datasets/

# Ignore Outputs
output/